.card-body{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    .card-title{
        cursor: pointer;
        &:hover{
            color: #198754;
        }
    }
}